In [1]:
print("Hello world")

Hello world

In [2]:
print(Hello world)

SyntaxError: invalid syntax (3449611317.py, line 1)

In [3]:
print('Hello world')

Hello world

In [4]:
print(10)

10

In [6]:
print('komal nama')

komal nama

## Datatypes

In [7]:
x= 100
x

100

In [8]:
print(x)

100

In [9]:
type(x)

int

In [10]:
x=10.6
type(x)

float

In [11]:
y ="komal"
y

'komal'

In [13]:
z=True
type(z)

bool

In [14]:
z ="True"
type(z)

str

In [16]:
course ="ai"
print(type(course))
course

<class 'str'>

'ai'

In [17]:
type(course),course

(str, 'ai')

## Rule for naming variables

In [19]:
book-names =["python" ,"ai","ds"]
book-names

SyntaxError: cannot assign to operator (914611228.py, line 1)

In [22]:
book_names =["python" ,"ai","ds"]
book_names

['python', 'ai', 'ds']

In [20]:
3book_names =["python" ,"ai","ds"]
3book_names

SyntaxError: invalid syntax (3404082984.py, line 1)

In [23]:
book+names =["python" ,"ai" ,"ds"]
book+names

SyntaxError: cannot assign to operator (882236791.py, line 1)

In [21]:
b3ook_names =["python" ,"ai","ds"]
b3ook_names

['python', 'ai', 'ds']

#### space is not allwoed
#### only alllowed spl character is underscore
#### variable name should not start with a number 
#### variable name should start with A-Z or underscore

## Data structures

In [32]:
sample_list=[10,2,3,5.6,1,"hi"]
sample_list

[10, 2, 3, 5.6, 1, 'hi']

In [33]:
type(sample_list)

list

In [35]:
sample_list[0]

10

In [38]:
sample_list[10]

IndexError: list index out of range

In [36]:
sample_list[4]

1

In [37]:
sample_list[0]=100
sample_list

[100, 2, 3, 5.6, 1, 'hi']

In [42]:
sample_tuple=(10,2,3,5.6,1,"hi")
sample_tuple

(10, 2, 3, 5.6, 1, 'hi')

In [43]:
type(sample_tuple)

tuple

In [45]:
sample_tuple[0]

10

In [46]:
sample_tuple[0]=100
sample_tuple

TypeError: 'tuple' object does not support item assignment

#### paranthesis
#### we can retrieve element using index and index starts from 0
#### immutable ->we cannot make the changes

In [49]:
sample_set ={1,2,3,4,5,67.5,34,"hi" ,6, "komal"}
sample_set

{1, 2, 3, 34, 4, 5, 6, 67.5, 'hi', 'komal'}

#### ()


#### duplicates are not allowed
#### its arrange in alphbatical 
#### cannot access using index
#### set is mutable

In [50]:
sample_set.add(100)

In [51]:
sample_set

{1, 100, 2, 3, 34, 4, 5, 6, 67.5, 'hi', 'komal'}

### Dictionary

#### has key-value pair data structure
#### key is unique
#### values can be duplicated
#### values can be  retrieved using key
#### key cannot be retrieve using value

In [1]:
sample_set[0]

NameError: name 'sample_set' is not defined

In [3]:
sample_dict ={1:'apple' ,2:35.4 , 3:"data" ,4: "hi"}
sample_dict

{1: 'apple', 2: 35.4, 3: 'data', 4: 'hi'}

In [4]:
sample_dict[3]

'data'

In [5]:
sample_dict["apple"]

KeyError: 'apple'

In [6]:
sample_dict[2] ="komal"

In [7]:
sample_dict

{1: 'apple', 2: 'komal', 3: 'data', 4: 'hi'}